@{
    string[] protected_pages = {
        "Admin Dashboard", "Manage Ships", "Manage Custom Duties",
        "Trader Dashboard", "Staff Dashboard", "Add New Ship", "Edit Ship",
        "Manage Items", "Add New Item", "Edit Item"
    };

    Boolean HasSidebar = false;
    if (ViewData.ContainsKey("sidebar") && (Boolean)ViewData["sidebar"])
        HasSidebar = true;

    @using Microsoft.AspNetCore.Http;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" href="/" style="word-break: normal;">PortManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Array.Exists(protected_pages, e => e == ViewData["Title"].ToString()))
                        {
                        <li class="nav-item">
                            @if (PortManager.Models.User.GetOne((int)Context.Session.GetInt32("user_id")).Type == "Admin")
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Trader" asp-action="Dashboard">Dashboard</a>
                            }
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Login" >Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link
                                    text-dark" href="Login" >Login/Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Static" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            @if (HasSidebar)
            {
                <partial name="_Sidebar" />
            }
            <main role="main" class="col">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PortManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        @if (TempData["errors"] != null)
        {
            String[] errors = TempData["errors"].ToString().Split(", ");
            @foreach (var error in errors)
            {
                @:alert("@error");
            }
        }
    </script>
</body>
</html>
