@using Microsoft.AspNetCore.Http;
@{ 
    PortManager.Models.User user = Helper.CurrentUser(Context.Session);
}
<aside class="col-md-2 bg-dark" style="min-height: 80vh;">
    <nav class="nav flex-column mt-5 text-light">
        <p>Welcome @user.FullName</p>
        @if (user.Type == "Trader")
        {
            <a class="nav-link" href="/Trader">Ships</a>
            <a class="nav-link" href="/Item">Items</a>
            <a class="nav-link" href="/CustomDuties">Custom Duties</a>
            <!--a class="nav-link" href="/Trader/Settings">Settings</a-->
        }
        else
        {
            if (user.Type == "Admin")
            {
                <a class="nav-link active" aria-current="page" href="/Admin">Users</a>
            }
            <a class="nav-link" href="/Ships">Ships</a>
            <a class="nav-link" href="/CustomDuties">Custom Duties</a>
            <a class="nav-link" href="/Trends">Trends</a>
        }
    </nav>
</aside>