@{
    ViewData["Title"] = "Add New Item";
    ViewData["sidebar"] = true;

    @using Microsoft.AspNetCore.Http;
}

@using PortManager.Models;

<div class="container">
    <form method="post" action="/Item/Create">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Item's Name">
        </div>
        <div class="form-group">
            <label for="manf">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" placeholder="Enter Manufacturer">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" placeholder="Enter Unit Price">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control">
                @for(int i = 0; i < Item.CategoryMap.Length; i++)
                {
                    <option value="@i">@Item.CategoryMap[i]</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>