@{
    ViewData["Title"] = "Edit Item";
    ViewData["sidebar"] = true;
    Item item = (Item)ViewData["item"];

    @using Microsoft.AspNetCore.Http;
}

<div class="container">
    <form method="post" action="/Item/Update/@item.id">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="@item.Name" placeholder="Enter Item's Name">
        </div>
        <div class="form-group">
            <label for="manf">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" value="@item.Manufacturer" placeholder="Enter Manufacturer">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" value="@item.Price" placeholder="Enter Unit Price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>