@{
    ViewData["Title"] = "Gawadar Port";
}

<div class="row bg-dark justify-content-center align-items-center"
    style="background-image: url(images/gawadar-home.jpg); background-size: cover; height: 80vh;">
    <div class="text-center text-light">
        <h3 class="display-4">Welcome to</h3>
        <h1 class="display-3">Gawadar Port</h1>
    </div>
</div>


    <div class="row justify-content-center my-5">
        <div class="col-sm-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">I Need More</h5>
                    <p class="card-text">Can't get enough of Gawadar? We can't too. Here's a collection of interesting
                        facts and figures about Gawadar Port.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Trader?</h5>
                    <p class="card-text">See the many ways in which we simplify the process of shipping & trading
                        through our web application.</p>
                    <a href="Login" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Automate online</h5>
                    <p class="card-text">Login as staff to complete your tasks and make your life easier. Our web
                        application automates all port related jobs.</p>
                    <a href="Login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
