@{
    ViewData["Title"] = "Login";
}

<div class="bg-dark p-5" style="background-image: url(port-lights.jpg); background-size: cover;">
    <div style="margin: 200px 0;">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card" style="background-color: #FFFFFFAA; backdrop-filter: blur(3px);">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>

                        <form action="Login" method="POST">
                            <div class="mb-3">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" name="email" class="form-control" id="emailInput"
                                    placeholder="name@example.com" />
                            </div>
                            <div class="mb-3">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="passwordInput"
                                    placeholder="Password" />
                            </div>

                            <div class="card-text mb-3">
                                <a href="#">Forgot password?</a></br>
                                Don't have an account? <a href="Register">Register now</a>.
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
